# Estad√≠stica descriptiva de la base de datos
Usando la base de datos de la ENOE en el primer trimestre de 2017 a 2022

In [1]:
# Modules
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotnine as p

In [3]:
df = pd.read_csv('../data/ENOE/final/lgbt_migration.csv')

In [7]:
df.head()

,Unnamed: 0,ent,migr,year,quarter,cve,to_non_equal,to_equal,from_equal,from_non_equal,p1
0,0,1,0.006773,2017,1,1,17.0,2.0,6.0,18.0,0.551524
1,1,2,0.007317,2017,1,2,28.0,0.0,2.0,21.0,0.578325
2,2,3,0.070130,2017,1,3,105.0,1.0,12.0,202.0,0.592598
3,3,4,0.021321,2017,1,4,8.0,39.0,35.0,35.0,0.557059
4,4,5,0.028909,2017,1,5,29.0,47.0,49.0,69.0,0.564217