## First approach

In [31]:
import pandas as pd
from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [32]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['p2a_anio', 'ent', 'p4b', 'p3p1', 'p2_2', 'p3m8', 'upm', 'r_def', 'p1b', 'p3m2', 'p3q', 'p3m4', 'p3p2', 'p1a3', 'p3m7', 'p3o', 'p3r', 'fac', 'p2a_mes', 'p2_1', 'con', 'p3m6', 'p4a', 'p3m9', 'p1a1', 'h_mud', 'p1', 'p3m5', 'eda', 'p2_3', 'p1a2', 'cd_a', 'p3m1', 'p1c', 'p3m3']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [28]:
df.groupby(['p3o']).size()

p3o
     188132
1      2513
2    115735
dtype: int64

In [30]:
# WARNING: This takes a lot of time
prec = TaylorEstimator("total")
prec.estimate(
    y= df["p3o"],
    samp_weight=df['fac'],
    psu=df['upm']
)
print(prec)

In [ ]:
def results_estimation(estimator):
    text = str(estimator).replace(' ','|')

    # Transform to df
    prec = pd.DataFrame([x.split('|') for x in text.split('\n')])

    # Eliminar primera fila
    prec = prec.iloc[1:, 0:5]

    columnas = {prec.columns[0]: 'tot',
                prec.columns[1]: 'se',
                prec.columns[2]: 'low',
                prec.columns[3]: 'up',
                prec.columns[4]: 'cv',}

## Create dataset

We need a dataset with a structure such as

ent | year | quarter | em | unemp | mig | from_nem
| --| :---:|:---:|:---:|:---:|:---:|:---:|
dgo | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 4 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |

In [10]:
import pandas as pd
from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [11]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['fac', 'p3m1', 'p3m5', 'upm', 'p2a_mes', 'p2a_anio', 'p3m9', 'p2_1', 'p4a', 'p3r', 'r_def', 'p3m6', 'p3m4', 'p3m7', 'p1a1', 'p1', 'p2_2', 'p1a2', 'p1b', 'p2_3', 'cd_a', 'p3p2', 'p3p1', 'p1a3', 'p3o', 'ent', 'con', 'eda', 'h_mud', 'p3m2', 'p3q', 'p3m8', 'p4b', 'p1c', 'p3m3']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [12]:
import pandas as pd


migrated_from_path = "../data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/catalogos/p3p2.csv"
migrated_from = pd.read_csv(migrated_from_path, encoding='latin-1')
migrated_from.to_csv("../auxiliary/destinations_mig.csv")

In [64]:
# Lets only use people at work!
from numpy import NaN

df2 = df.copy()
df2['p3o'][df2['p3o'] == " "] = NaN

df2.groupby(['p3o']).size()

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_36398/1547055279.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p3o'][df2['p3o'] == " "] = NaN

p3o
1      2513
2    115735
dtype: int64

In [41]:
df2['p3o'] = 2- pd.to_numeric(df2['p3o'])
df_enoe = df2.groupby(['ent']).p3o.mean()
df_enoe = pd.DataFrame({'ent':df_enoe.index, 'migr':df_enoe.values})

In [ ]:
# We need to make sure to include the year and quarter!

## P3P2: MigraciÃ³n entre estados

In [65]:
# P3P1, En donde vivias antes de este cambio? (En que estado?)
df2['p3p2'][df['p3p2'] == " "] = NaN

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_36398/143273962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p3p2'][df['p3p2'] == " "] = NaN

In [66]:
df_aux = df2.groupby(['ent', 'p3p2']).size()

In [67]:
df_aux = df_aux.reset_index()

In [68]:
migration_table =df_aux.pivot(index = 'ent', columns = 'p3p2')
migration_table.head()

        0                                                 ...                 \
p3p2    1    10   11   12   13   14    15   16   17   18  ...   32  33     4
ent                                                       ...
1     2.0   NaN  4.0  2.0  NaN  4.0   NaN  NaN  NaN  NaN  ...  1.0 NaN   NaN
2     NaN   NaN  NaN  2.0  NaN  3.0   NaN  NaN  1.0  NaN  ...  NaN NaN   NaN
3     1.0   NaN  1.0  9.0  NaN  7.0  10.0  1.0  NaN  2.0  ...  1.0 NaN   NaN
4     NaN   NaN  NaN  NaN  NaN  1.0   1.0  1.0  NaN  NaN  ...  NaN NaN  27.0
5     1.0  11.0  2.0  2.0  3.0  2.0   2.0  NaN  NaN  NaN  ...  4.0 NaN   NaN


p3p2 400     5   6 600    7    8    9
ent
1    NaN   NaN NaN NaN  NaN  1.0  5.0
2    NaN   1.0 NaN NaN  1.0  NaN  NaN
3    NaN   2.0 NaN NaN  7.0  NaN  7.0
4    NaN   1.0 NaN NaN  NaN  1.0  2.0
5    NaN  43.0 NaN NaN  9.0  3.0  3.0

[5 rows x 39 columns]

We want to use this table to calculate how many people migrated from a state with non-legalized same-sex marriage to a state where it is legal to stay an live there.

In [70]:
# Primero hay que incluir la fecha
year = 2017
quarter = 1

migration_table['year'] = year
migration_table['quarter'] = quarter

In [71]:
from numpy import ceil
marriage = pd.read_csv('../auxiliary/equal_marriage.csv')
marriage['quarter'] = ceil(marriage['month']/3)
marriage['date'] = marriage['year'] + marriage['quarter']/5 # Its inexact, but it helps to make the simple comparison in the migration table
marriage = marriage[['cve','date']]

In [172]:
# Crear una dummy 1 = el matrimonio es igualitario en la entidad y 0 no lo es
import numpy as np
marriage

df = pd.merge(migration_table,marriage, left_on = 'ent', right_on='cve', how='left')

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_36398/2805533303.py:5: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df = pd.merge(migration_table,marriage, left_on = 'ent', right_on='cve', how='left')

In [173]:
# But first we need to change the name of variables
import re

text= str(df.columns[0])

names = [re.search(r"'([A-Za-z0-9_\./\\-]*)'",str(text)) for text in df.columns]
columnas = [name.group().replace("'","") for name in names if type(name) == re.Match]

In [174]:
df.columns = columnas + ['cve', 'date']

In [175]:
#df['equal_marriage']
df['equal_marriage'] = np.where((df['date']<= df['year']+df['quarter']/5),1,0)
df

,1,10,11,12,13,14,15,16,17,18,...,6,600,7,8,9,year,quarter,cve,date,equal_marriage
0,2.0,NaN,4.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,5.0,2017,1,1,2019.6,0
1,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,2017,1,2,2021.4,0
2,1.0,NaN,1.0,9.0,NaN,7.0,10.0,1.0,NaN,2.0,...,NaN,NaN,7.0,NaN,7.0,2017,1,3,2019.4,0
3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,2.0,2017,1,4,2016.4,1
4,1.0,11.0,2.0,2.0,3.0,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,9.0,3.0,3.0,2017,1,5,2014.6,1
5,NaN,NaN,1.0,2.0,NaN,40.0,3.0,9.0,NaN,NaN,...,23.0,NaN,3.0,NaN,5.0,2017,1,6,2016.4,1
6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,22.0,1.0,2.0,2017,1,7,2018.4,0
7,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,19.0,1.0,2017,1,8,2015.4,1
8,NaN,1.0,1.0,2.0,4.0,NaN,12.0,3.0,2.0,NaN,...,1.0,NaN,1.0,NaN,1.0,2017,1,9,2010.2,1
9,NaN,68.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,3.0,4.0,2017,1,10,NaN,0
10,2.0,1.0,15.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,2017,1,11,2021.8,0
11,NaN,1.0,NaN,27.0,NaN,2.0,1.0,NaN,1.0,1.0,...,NaN,1.0,NaN,NaN,5.0,2017,1,12,NaN,0
12,1.0,NaN,1.0,NaN,27.0,NaN,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,6.0,2017,1,13,2019.4,0
13,1.0,NaN,3.0,1.0,NaN,12.0,NaN,NaN,1.0,4.0,...,1.0,NaN,NaN,NaN,3.0,2017,1,14,2022.4,0
14,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,4.0,2017,1,15,NaN,0
15,NaN,NaN,NaN,2.0,NaN,1.0,2.0,33.0,1.0,NaN,...,NaN,NaN,1.0,NaN,3.0,2017,1,16,2016.4,1
16,NaN,NaN,1.0,NaN,NaN,NaN,6.0,NaN,7.0,NaN,...,NaN,NaN,1.0,NaN,3.0,2017,1,17,2016.6,1
17,1.0,NaN,NaN,NaN,2.0,23.0,NaN,1.0,NaN,65.0,...,NaN,NaN,3.0,NaN,2.0,2017,1,18,2015.8,1
18,1.0,2.0,2.0,NaN,1.0,1.0,7.0,NaN,NaN,3.0,...,NaN,NaN,7.0,1.0,9.0,2017,1,19,2019.4,0
19,NaN,NaN,3.0,3.0,1.0,NaN,2.0,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,6.0,2017,1,20,2019.8,0
20,NaN,NaN,1.0,1.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,7.0,2017,1,21,2020.8,0
21,NaN,NaN,5.0,2.0,4.0,1.0,1.0,5.0,1.0,NaN,...,NaN,NaN,NaN,NaN,15.0,2017,1,22,2021.8,0
22,NaN,NaN,NaN,4.0,NaN,4.0,5.0,NaN,NaN,NaN,...,NaN,NaN,10.0,NaN,13.0,2017,1,23,2012.4,1
23,3.0,NaN,4.0,NaN,2.0,1.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,2017,1,24,2019.4,0
24,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,1.0,2017,1,25,2021.4,0
25,NaN,1.0,2.0,1.0,1.0,4.0,2.0,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,1.0,2017,1,26,2021.8,0
26,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,2.0,1.0,...,NaN,NaN,16.0,1.0,6.0,2017,1,27,NaN,0
27,NaN,1.0,1.0,1.0,1.0,NaN,5.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,4.0,2017,1,28,NaN,0
28,NaN,NaN,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,2017,1,29,2020.8,0
29,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,2017,1,30,2022.4,0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,6.0,2017,1,31,2022.2,0
31,6.0,NaN,1.0,1.0,2.0,6.0,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,4.0,4.0,2017,1,32,2021.8,0

In [184]:
# Columnas. Cuantas personas de estados no-gay y gay han migrado al estado i
# Otras dos: CuÃ¡ntas personas del estado i han migrado a estados gay y estados no gay

# Finalmente se podrÃ­a hacer algÃºn Ã­ndice?

# Â¿Cuantas personas de un estado no gay han migrado al estado i?

i = 1 # Aguascalientes. Prueba

#df[df['equal_marriage'] == 0]['1'].sum()
df_migraciones = pd.DataFrame({'cve':range(1,33)})
df_migraciones['to_non_equal'] =[df[df['equal_marriage'] == 0][str(i)].sum() for i in range(1,33)]
df_migraciones['to_equal'] =[df[df['equal_marriage'] == 1][str(i)].sum() for i in range(1,33)]

df_migraciones

    cve  to_non_equal  to_equal
0     1          17.0       2.0
1     2          28.0       0.0
2     3         105.0       1.0
3     4           8.0      39.0
4     5          29.0      47.0
5     6           1.0      24.0
6     7          59.0      28.0
7     8          13.0      23.0
8     9         116.0      33.0
9    10          74.0      12.0
10   11          45.0       5.0
11   12          52.0      12.0
12   13          41.0       9.0
13   14          46.0      71.0
14   15          57.0      32.0
15   16          12.0      47.0
16   17          10.0      10.0
17   18          13.0      65.0
18   19          47.0      11.0
19   20         119.0      10.0
20   21          53.0      13.0
21   22          15.0       6.0
22   23          20.0      76.0
23   24          74.0       4.0
24   25         100.0       5.0
25   26          97.0       5.0
26   27          76.0      35.0
27   28          82.0       6.0
28   29          24.0       1.0
29   30         150.0      46.0
30   31          41.0      31.0
31   32         116.0       5.0