## First approach

In [31]:
import pandas as pd
from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [32]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['p2a_anio', 'ent', 'p4b', 'p3p1', 'p2_2', 'p3m8', 'upm', 'r_def', 'p1b', 'p3m2', 'p3q', 'p3m4', 'p3p2', 'p1a3', 'p3m7', 'p3o', 'p3r', 'fac', 'p2a_mes', 'p2_1', 'con', 'p3m6', 'p4a', 'p3m9', 'p1a1', 'h_mud', 'p1', 'p3m5', 'eda', 'p2_3', 'p1a2', 'cd_a', 'p3m1', 'p1c', 'p3m3']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [28]:
df.groupby(['p3o']).size()

p3o
     188132
1      2513
2    115735
dtype: int64

In [30]:
# WARNING: This takes a lot of time
prec = TaylorEstimator("total")
prec.estimate(
    y= df["p3o"],
    samp_weight=df['fac'],
    psu=df['upm']
)
print(prec)

In [ ]:
def results_estimation(estimator):
    text = str(estimator).replace(' ','|')

    # Transform to df
    prec = pd.DataFrame([x.split('|') for x in text.split('\n')])

    # Eliminar primera fila
    prec = prec.iloc[1:, 0:5]

    columnas = {prec.columns[0]: 'tot',
                prec.columns[1]: 'se',
                prec.columns[2]: 'low',
                prec.columns[3]: 'up',
                prec.columns[4]: 'cv',}

## Create dataset

We need a dataset with a structure such as

ent | year | quarter | em | unemp | mig | from_nem
| --| :---:|:---:|:---:|:---:|:---:|:---:|
dgo | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 4 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |

In [10]:
import pandas as pd
from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [11]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['fac', 'p3m1', 'p3m5', 'upm', 'p2a_mes', 'p2a_anio', 'p3m9', 'p2_1', 'p4a', 'p3r', 'r_def', 'p3m6', 'p3m4', 'p3m7', 'p1a1', 'p1', 'p2_2', 'p1a2', 'p1b', 'p2_3', 'cd_a', 'p3p2', 'p3p1', 'p1a3', 'p3o', 'ent', 'con', 'eda', 'h_mud', 'p3m2', 'p3q', 'p3m8', 'p4b', 'p1c', 'p3m3']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [12]:
import pandas as pd


migrated_from_path = "../data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/catalogos/p3p2.csv"
migrated_from = pd.read_csv(migrated_from_path, encoding='latin-1')
migrated_from.to_csv("../auxiliary/destinations_mig.csv")

In [59]:
# Lets only use people at work!
from numpy import NaN


print(df.shape)
#df2 = df[df['p3o'] != " "] # Might be better to use NAs because this might risk
df2 = df.copy()
df2['p3o'][df2['p3o'] == " "] = NaN
print(df2.shape)
df2.groupby(['p3o']).size()

(306380, 35)
(306380, 35)

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_36398/255075412.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p3o'][df2['p3o'] == " "] = NaN

p3o
1      2513
2    115735
dtype: int64

In [60]:
df2.groupby(['p3o']).size()

p3o
1      2513
2    115735
dtype: int64

In [61]:
df2['p3o'] = 2- pd.to_numeric(df2['p3o'])
df_enoe = df2.groupby(['ent']).p3o.mean()
df_enoe = pd.DataFrame({'ent':df_enoe.index, 'migr':df_enoe.values})

In [63]:
df_enoe

    ent      migr
0     1  0.006743
1     2  0.007303
2     3  0.069880
3     4  0.021238
4     5  0.028805
5     6  0.029547
6     7  0.009675
7     8  0.008239
8     9  0.014247
9    10  0.027043
10   11  0.007469
11   12  0.016269
12   13  0.016361
13   14  0.007885
14   15  0.003564
15   16  0.012720
16   17  0.006321
17   18  0.028718
18   19  0.027778
19   20  0.038336
20   21  0.010698
21   22  0.014321
22   23  0.052571
23   24  0.020239
24   25  0.017744
25   26  0.036368
26   27  0.041740
27   28  0.037254
28   29  0.011923
29   30  0.015635
30   31  0.021017
31   32  0.041948