## First approach

In [2]:
import pandas as pd
from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [3]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['p3p1', 'p1a1', 'r_def', 'p4a', 'p1a3', 'fac', 'upm', 'p3m3', 'p3m8', 'p3q', 'cd_a', 'p3m2', 'p3m1', 'p2_3', 'ent', 'p1b', 'p2a_anio', 'p3m4', 'p2a_mes', 'p1c', 'p3o', 'p4b', 'p1a2', 'p3r', 'p1', 'p3m6', 'p3m5', 'h_mud', 'p3m9', 'eda', 'p2_2', 'con', 'p3m7', 'p3p2', 'p2_1']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [4]:
df.groupby(['p3o']).size()

p3o
     188132
1      2513
2    115735
dtype: int64

In [ ]:
# WARNING: This takes a lot of time
#prec = TaylorEstimator("total")
'''prec.estimate(
    y= df["p3o"],
    samp_weight=df['fac'],
    psu=df['upm']
)
print(prec)'''

In [5]:
def results_estimation(estimator):
    text = str(estimator).replace(' ','|')

    # Transform to df
    prec = pd.DataFrame([x.split('|') for x in text.split('\n')])

    # Eliminar primera fila
    prec = prec.iloc[1:, 0:5]

    columnas = {prec.columns[0]: 'tot',
                prec.columns[1]: 'se',
                prec.columns[2]: 'low',
                prec.columns[3]: 'up',
                prec.columns[4]: 'cv',}

## Create dataset

We need a dataset with a structure such as

ent | year | quarter | em | unemp | mig | from_nem
| --| :---:|:---:|:---:|:---:|:---:|:---:|
dgo | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 1 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 2 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 3 | 0 | 0.23 | 0.12 | 0.1 |
dgo | 2018 | 4 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 1 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 2 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 3 | 0 | 0.23 | 0.12 | 0.1 |
cdmx | 2017 | 4 | 0 | 0.23 | 0.12 | 0.1 |

In [6]:
import pandas as pd
#from samplics.estimation import TaylorEstimator

available = pd.read_csv("../auxiliary/ENOE_available.csv", names = ["path"]).path.to_list()
columns = pd.read_csv("../auxiliary/columns.csv").clave.to_list()
columns = [x.lower() for x in columns]

In [7]:
path = "data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/conjunto_de_datos/conjunto_de_datos_coe1_enoe_2017_1t.csv"

df = pd.read_csv('../'+path)

interseccion = list(set(df.columns) & set(columns))
df = pd.read_csv('../'+path, usecols=interseccion)
print(interseccion)

df.head()

['p3p1', 'p1a1', 'r_def', 'p4a', 'p1a3', 'fac', 'upm', 'p3m3', 'p3m8', 'p3q', 'cd_a', 'p3m2', 'p3m1', 'p2_3', 'ent', 'p1b', 'p2a_anio', 'p3m4', 'p2a_mes', 'p1c', 'p3o', 'p4b', 'p1a2', 'p3r', 'p1', 'p3m6', 'p3m5', 'h_mud', 'p3m9', 'eda', 'p2_2', 'con', 'p3m7', 'p3p2', 'p2_1']

,r_def,cd_a,ent,con,upm,h_mud,eda,p1,p1a1,p1a2,...,p3m8,p3m9,p3o,p3p1,p3p2,p3q,p3r,p4a,p4b,fac
0,0,83,7,50071,703409,0,37,1,,,...,,,2,,,5,1,8130,3,507
1,0,83,7,50071,703409,0,37,2,,,...,,,,,,,,,,507
2,0,83,7,50071,703409,0,14,2,,,...,,,,,,,,,,507
3,0,82,7,50023,702635,0,40,1,,,...,,,2,,,2,3,6112,2,510
4,0,82,7,50023,702635,0,38,1,,,...,,,,,,,3,7221,4,510

In [8]:
import pandas as pd


migrated_from_path = "../data/ENOE/raw/2017t1/conjunto_de_datos_coe1_enoe_2017_1t/catalogos/p3p2.csv"
migrated_from = pd.read_csv(migrated_from_path, encoding='latin-1')
migrated_from.to_csv("../auxiliary/destinations_mig.csv")

In [9]:
from numpy import NaN

df2 = df.copy()
df2['p3o'][df2['p3o'] == " "] = NaN

df2.groupby(['p3o']).size()

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_28717/2783505257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p3o'][df2['p3o'] == " "] = NaN

p3o
1      2513
2    115735
dtype: int64

In [10]:
df2['p3o'] = 2- pd.to_numeric(df2['p3o'])
df_enoe = df2.groupby(['ent']).p3o.mean()
df_enoe = pd.DataFrame({'ent':df_enoe.index, 'migr':df_enoe.values})

In [ ]:
# We need to make sure to include the year and quarter!

## P3P2: Migración entre estados

In [11]:
# P3P1, En donde vivias antes de este cambio? (En que estado?)
df2['p3p2'][df['p3p2'] == " "] = NaN

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_28717/4052220886.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['p3p2'][df['p3p2'] == " "] = NaN

In [12]:
df_aux = df2.groupby(['ent', 'p3p2']).size()
df_aux

ent  p3p2
1    1         2
     11        4
     12        2
     14        4
     19        2
            ...
32   30        2
     32      104
     5         1
     8         4
     9         4
Length: 451, dtype: int64

In [13]:
df_aux = df_aux.reset_index()

In [15]:
migration_table =df_aux.pivot(index = 'ent', columns = 'p3p2')
migration_table.head()
# Esta tabla muestra en cada columna el origen de la migración
# En la columna 'ent' se muestra el destino de las migraciones.

        0                                                 ...                 \
p3p2    1    10   11   12   13   14    15   16   17   18  ...   32  33     4
ent                                                       ...
1     2.0   NaN  4.0  2.0  NaN  4.0   NaN  NaN  NaN  NaN  ...  1.0 NaN   NaN
2     NaN   NaN  NaN  2.0  NaN  3.0   NaN  NaN  1.0  NaN  ...  NaN NaN   NaN
3     1.0   NaN  1.0  9.0  NaN  7.0  10.0  1.0  NaN  2.0  ...  1.0 NaN   NaN
4     NaN   NaN  NaN  NaN  NaN  1.0   1.0  1.0  NaN  NaN  ...  NaN NaN  27.0
5     1.0  11.0  2.0  2.0  3.0  2.0   2.0  NaN  NaN  NaN  ...  4.0 NaN   NaN


p3p2 400     5   6 600    7    8    9
ent
1    NaN   NaN NaN NaN  NaN  1.0  5.0
2    NaN   1.0 NaN NaN  1.0  NaN  NaN
3    NaN   2.0 NaN NaN  7.0  NaN  7.0
4    NaN   1.0 NaN NaN  NaN  1.0  2.0
5    NaN  43.0 NaN NaN  9.0  3.0  3.0

[5 rows x 39 columns]

We want to use this table to calculate how many people migrated from a state with non-legalized same-sex marriage to a state where it is legal to stay an live there.

In [16]:
# Primero hay que incluir la fecha
year = 2017
quarter = 1

migration_table['year'] = year
migration_table['quarter'] = quarter

In [17]:
from numpy import ceil
marriage = pd.read_csv('../auxiliary/equal_marriage.csv')
marriage['quarter'] = ceil(marriage['month']/3)
marriage['date'] = marriage['year'] + marriage['quarter']/5 # Its inexact, but it helps to make the simple comparison in the migration table
marriage = marriage[['cve','date']]

In [18]:
# Crear una dummy 1 = el matrimonio es igualitario en la entidad y 0 no lo es
import numpy as np
marriage

df_flujos = pd.merge(migration_table,marriage, left_on = 'ent', right_on='cve', how='left')

/var/folders/sk/b2t_fqv97kg_pjsv5f0g44nh0000gn/T/ipykernel_28717/2425677236.py:5: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df_flujos = pd.merge(migration_table,marriage, left_on = 'ent', right_on='cve', how='left')

In [19]:
# But first we need to change the name of variables
import re

text= str(df_flujos.columns[0])

names = [re.search(r"'([A-Za-z0-9_\./\\-]*)'",str(text)) for text in df_flujos.columns]
columnas = [name.group().replace("'","") for name in names if type(name) == re.Match]

In [20]:
df_flujos.columns = columnas + ['cve', 'date']

In [21]:
#df['equal_marriage']
df_flujos['equal_marriage'] = np.where((df_flujos['date']<= df_flujos['year']+df_flujos['quarter']/5),1,0)
# Reminder: Columnas son origen y la columna cve muestra destinos

In [22]:
df_flujos.head()

,1,10,11,12,13,14,15,16,17,18,...,6,600,7,8,9,year,quarter,cve,date,equal_marriage
0,2.0,NaN,4.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,5.0,2017,1,1,2019.6,0
1,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,2017,1,2,2021.4,0
2,1.0,NaN,1.0,9.0,NaN,7.0,10.0,1.0,NaN,2.0,...,NaN,NaN,7.0,NaN,7.0,2017,1,3,2019.4,0
3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,2.0,2017,1,4,2016.4,1
4,1.0,11.0,2.0,2.0,3.0,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,9.0,3.0,3.0,2017,1,5,2014.6,1

In [24]:
# Lista de los estados inclusivos en el año y trimestre en cuestion
inclusive_states = list(df_flujos[df_flujos['equal_marriage'] == 1].cve)
inclusive_states = [str(i) for i in inclusive_states]
non_inclusive_states = list(df_flujos[df_flujos['equal_marriage'] == 0].cve)
non_inclusive_states = [str(i) for i in non_inclusive_states]
print(inclusive_states)

['4', '5', '6', '8', '9', '16', '17', '18', '23']

In [41]:
# Total de personas que viajaron a aguascalientes
df_flujos[df_flujos['cve'] == 1][[str(i) for i in range(1,33)]].sum().sum()

# De estados inclusivos a aguascalientes
df_flujos[df_flujos['cve'] == 1][inclusive_states].sum().sum()

6.0

In [78]:
# De aguascalientes a estados inclusivos
df_flujos[df_flujos['equal_marriage'] == 1]['1'].sum()
# De aguascalientes a estados no inclusivos
df_flujos[df_flujos['equal_marriage'] == 0]['1'].sum()

# De estados inclusivos a aguascalientes
df_flujos[df_flujos['cve'] == 1][inclusive_states].sum().sum()

# De estados no incusivos a aguascalientes
df_flujos[df_flujos['cve'] == 1][non_inclusive_states].sum().sum()

18.0

In [80]:
# Columnas. Cuantas personas de estados no-gay y gay han migrado al estado i
# Otras dos: Cuántas personas del estado i han migrado a estados gay y estados no gay

# Finalmente se podría hacer algún índice?

# ¿Cuantas personas de un estado no gay han migrado al estado i?

i = 1 # Aguascalientes. Prueba

#df[df['equal_marriage'] == 0]['1'].sum()
df_migraciones = pd.DataFrame({'cve':range(1,33)})
df_migraciones['to_non_equal'] =[df_flujos[df_flujos['equal_marriage'] == 0][str(i)].sum() for i in range(1,33)]
df_migraciones['to_equal'] =[df_flujos[df_flujos['equal_marriage'] == 1][str(i)].sum() for i in range(1,33)]
df_migraciones['from_equal'] = [df_flujos[df_flujos['cve'] == i][inclusive_states].sum().sum() for i in range(1,33)]
df_migraciones['from_non_equal'] = [df_flujos[df_flujos['cve'] == i][non_inclusive_states].sum().sum() for i in range(1,33)]

df_migraciones.head()

    cve  to_non_equal  to_equal  from_equal  from_non_equal
0     1          17.0       2.0         6.0            18.0
1     2          28.0       0.0         2.0            21.0
2     3         105.0       1.0        12.0           202.0
3     4           8.0      39.0        35.0            35.0
4     5          29.0      47.0        49.0            69.0
5     6           1.0      24.0        38.0            69.0
6     7          59.0      28.0         3.0            27.0
7     8          13.0      23.0        20.0             8.0
8     9         116.0      33.0         8.0            37.0
9    10          74.0      12.0        14.0            75.0
10   11          45.0       5.0         8.0            30.0
11   12          52.0      12.0         8.0            36.0
12   13          41.0       9.0         8.0            40.0
13   14          46.0      71.0         9.0            28.0
14   15          57.0      32.0        10.0            10.0
15   16          12.0      47.0        37.0             7.0
16   17          10.0      10.0        10.0             8.0
17   18          13.0      65.0        69.0            32.0
18   19          47.0      11.0        22.0           101.0
19   20         119.0      10.0         9.0           108.0
20   21          53.0      13.0         7.0            37.0
21   22          15.0       6.0        22.0            24.0
22   23          20.0      76.0        98.0            85.0
23   24          74.0       4.0         9.0            60.0
24   25         100.0       5.0         3.0            66.0
25   26          97.0       5.0         2.0           132.0
26   27          76.0      35.0        14.0           127.0
27   28          82.0       6.0         8.0           119.0
28   29          24.0       1.0         8.0            32.0
29   30         150.0      46.0         4.0            43.0
30   31          41.0      31.0        24.0            47.0
31   32         116.0       5.0        10.0           135.0

In [150]:
# Pasar la dummy de equal marriage
df_migraciones = pd.merge(df_flujos[['cve','equal_marriage']],df_migraciones, left_on='cve',right_on='cve', how = 'left')
#df_migr2

In [151]:
df_migraciones['date'] = year + quarter/5
df_migraciones.head()

,cve,equal_marriage,to_non_equal,to_equal,from_equal,from_non_equal,date
0,1,0,17.0,2.0,6.0,18.0,2017.2
1,2,0,28.0,0.0,2.0,21.0,2017.2
2,3,0,105.0,1.0,12.0,202.0,2017.2
3,4,1,8.0,39.0,35.0,35.0,2017.2
4,5,1,29.0,47.0,49.0,69.0,2017.2

In [141]:
df_enoe = pd.merge(df_enoe,df_migraciones, left_on='ent',right_on='cve', how = 'left')

## Finalmente Hay que agregar un indicador de desempleo por estado

In [94]:
df_enoe.head()

,ent,migr,cve,to_non_equal,to_equal,from_equal,from_non_equal,date
0,1,0.006743,1,17.0,2.0,6.0,18.0,2017.2
1,2,0.007303,2,28.0,0.0,2.0,21.0,2017.2
2,3,0.069880,3,105.0,1.0,12.0,202.0,2017.2
3,4,0.021238,4,8.0,39.0,35.0,35.0,2017.2
4,5,0.028805,5,29.0,47.0,49.0,69.0,2017.2

In [121]:
df2['p1'] = 2 - df['p1']

p1
0    146270
1    160110
dtype: int64

In [137]:
df2 = df2[df2['eda'] > 14]

In [139]:
df3 = df2.groupby(['ent']).p1.mean()
df3 = df3.reset_index()

In [142]:
df_enoe = pd.merge(df_enoe,df3, left_on='ent',right_on='ent', how = 'left')
df_enoe

,ent,migr,p1_x,cve,to_non_equal,to_equal,from_equal,from_non_equal,date,p1_y
0,1,0.006743,0.551524,1,17.0,2.0,6.0,18.0,2017.2,0.551524
1,2,0.007303,0.578325,2,28.0,0.0,2.0,21.0,2017.2,0.578325
2,3,0.069880,0.592598,3,105.0,1.0,12.0,202.0,2017.2,0.592598
3,4,0.021238,0.557059,4,8.0,39.0,35.0,35.0,2017.2,0.557059
4,5,0.028805,0.564217,5,29.0,47.0,49.0,69.0,2017.2,0.564217
5,6,0.029547,0.611343,6,1.0,24.0,38.0,69.0,2017.2,0.611343
6,7,0.009675,0.543455,7,59.0,28.0,3.0,27.0,2017.2,0.543455
7,8,0.008239,0.576542,8,13.0,23.0,20.0,8.0,2017.2,0.576542
8,9,0.014247,0.559145,9,116.0,33.0,8.0,37.0,2017.2,0.559145
9,10,0.027043,0.547850,10,74.0,12.0,14.0,75.0,2017.2,0.547850
10,11,0.007469,0.577780,11,45.0,5.0,8.0,30.0,2017.2,0.577780
11,12,0.016269,0.544875,12,52.0,12.0,8.0,36.0,2017.2,0.544875
12,13,0.016361,0.532155,13,41.0,9.0,8.0,40.0,2017.2,0.532155
13,14,0.007885,0.590913,14,46.0,71.0,9.0,28.0,2017.2,0.590913
14,15,0.003564,0.537548,15,57.0,32.0,10.0,10.0,2017.2,0.537548
15,16,0.012720,0.561557,16,12.0,47.0,37.0,7.0,2017.2,0.561557
16,17,0.006321,0.516844,17,10.0,10.0,10.0,8.0,2017.2,0.516844
17,18,0.028718,0.584515,18,13.0,65.0,69.0,32.0,2017.2,0.584515
18,19,0.027778,0.557887,19,47.0,11.0,22.0,101.0,2017.2,0.557887
19,20,0.038336,0.541548,20,119.0,10.0,9.0,108.0,2017.2,0.541548
20,21,0.010698,0.558202,21,53.0,13.0,7.0,37.0,2017.2,0.558202
21,22,0.014321,0.512544,22,15.0,6.0,22.0,24.0,2017.2,0.512544
22,23,0.052571,0.606447,23,20.0,76.0,98.0,85.0,2017.2,0.606447
23,24,0.020239,0.547399,24,74.0,4.0,9.0,60.0,2017.2,0.547399
24,25,0.017744,0.590363,25,100.0,5.0,3.0,66.0,2017.2,0.590363
25,26,0.036368,0.579393,26,97.0,5.0,2.0,132.0,2017.2,0.579393
26,27,0.041740,0.512592,27,76.0,35.0,14.0,127.0,2017.2,0.512592
27,28,0.037254,0.542041,28,82.0,6.0,8.0,119.0,2017.2,0.542041
28,29,0.011923,0.542753,29,24.0,1.0,8.0,32.0,2017.2,0.542753
29,30,0.015635,0.516397,30,150.0,46.0,4.0,43.0,2017.2,0.516397
30,31,0.021017,0.600568,31,41.0,31.0,24.0,47.0,2017.2,0.600568
31,32,0.041948,0.532078,32,116.0,5.0,10.0,135.0,2017.2,0.532078